[Unit]
Description=Glorytun path
After=glorytun-ip.service sys-devices-virtual-net-tun0.device

[Service]
Type=simple
EnvironmentFile=/opt/glorytun/glorytun.env
WorkingDirectory=/opt/glorytun
ExecStartPre=/bin/sh -c "systemctl set-environment HOST_IP=$(hostname -I | cut -d' ' -f1)"
ExecStart=/usr/local/bin/glorytun path up ${HOST_IP} rate tx ${TX_BW} rx ${RX_BW}
CapabilityBoundingSet=CAP_NET_ADMIN

[Install]
WantedBy=multi-user.target

