[Unit]
Description=Glorytun link
After=glorytun-path.service sys-devices-virtual-net-tun0.device

[Service]
Type=simple
EnvironmentFile=/opt/glorytun/glorytun.env
WorkingDirectory=/opt/glorytun
ExecStart=/usr/sbin/ip link set dev ${TUN_INTERFACE} up
CapabilityBoundingSet=CAP_NET_ADMIN

[Install]
WantedBy=multi-user.target

