[Unit]
Description=Glorytun bind
After=network.target network-online.target
Wants=glorytun-ip.service glorytun-path.service glorytun-link.service

[Service]
Type=simple
EnvironmentFile=/opt/glorytun/glorytun.env
WorkingDirectory=/opt/glorytun
ExecStart=/usr/local/bin/glorytun bind 0.0.0.0 to ${SERVER_IP} ${TUN_PORT} ${TUN_CIPHER} keyfile ${TUN_KEYFILE} 
CapabilityBoundingSet=CAP_NET_ADMIN

[Install]
WantedBy=multi-user.target

